.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  background-color: white;

}
.bannerIntroContainer {
  width: 100%;
  min-height: 100px;
  margin: 0;
  text-align: center;
}
.bannerIntroContainer > :nth-child(n) {
  margin-bottom: 5px;
}
.selectBannerIntroConatainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputFile {
  display: none;
}
.label{
  display: inline-block;
  width: 20%;
  color: white;
  padding: 2px 0;
  background-color: #007483;
  border: 1px solid brown;
  border-radius: 10px;
  text-align: center;
  transition-property: all;
  transition-duration: .4s;
}

.label:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid brown;
  color: brown;
}


.input {
  width: 20%;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid brown;
}

.previewIMG {
  object-fit: cover;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
}
.fecha {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background: linear-gradient(to right, #00353d,#00353d, #007483,#00353d, #00353d)  ;
  color: #ffffff;
}

.fecha :nth-child(n) {
  margin: 0;
  padding: 0;
}

.calendario {
  display: inline-block;
  font-size: 10px;
  width: 120px;
  height: 16px;

}


.portada {
  width: 100%;
  height: 10vw;
  display: flex;
  justify-content: space-between;
  padding: 0 00px;
  background-color: white;
}

.navidad {
  width: 15vw;
  height: 15vw ;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  padding: 0;
}


.video {
  height: 15vw;
  position: relative;
}




.containerFade {
  width: 100%;
  padding: 0;
  margin: 0;
}

.containerFade :nth-child(n) {
  padding: 0;
  margin: 0;

}



.sliderIMG {
  cursor: pointer;
  margin: 0;
  width: 101%;
  height: 160px;
  object-fit: cover;
}
.sliderWhatsapp {
  right: 10px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
position: absolute;
z-index: 10000;
}




@media (max-width: 850px) {
  .portada {
    background-color: #ffffff;
  }
  .portada {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
  .socialMedia> :nth-child(1) {
    font-weight: bold;
    font-size: 12px;
  }
  .navidad {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 0;
  }
  .header {
    height: auto
  }
}
